<div class="booking-index-container">
    <h1>My bookings</h1>
    <p>Check your current bookings and former  experiences.</p>
</div>

<div class="booking-card-container">
  <div class="booking-index-cards">
    <h3>A venir</h3>
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <div class="card-product-infos">
          <h2><strong><%= booking.activity.name %></strong></h2>
          <p><strong>Start Time:</strong> <%= booking.start_time.strftime("%B %d, %Y %H:%M") %></p>
          <p><strong>End Time:</strong> <%= booking.end_time.strftime("%B %d, %Y %H:%M") %></p>
          <p><strong>Total Price:</strong> $<%= booking.total_price %></p>
          <p><strong>Status:</strong> <%= booking.status.capitalize %></p>
          </div>
          <%= cl_image_tag booking.activity.photo.key %>
      </div>
    <% end %>
  </div>

  <div class="void-div"></div>

  <div class="booking-index-cards">
    <h3>Expériences réalisées</h3>
      <div class="card-product">
        <div class="card-product-infos">
          <h2><strong><%= Booking.last.activity.name %></strong></h2>
          <p><strong>Start Time:</strong> <%= Booking.last.start_time.strftime("%B %d, %Y %H:%M") %></p>
          <p><strong>End Time:</strong> <%= Booking.last.end_time.strftime("%B %d, %Y %H:%M") %></p>
          <p><strong>Total Price:</strong> $<%= Booking.last.total_price %></p>
          <p><strong>Status:</strong> <%= Booking.last.status.capitalize %></p>
          </div>
          <%= cl_image_tag Booking.last.activity.photo.key %>
      </div>
  </div>

  <div class="void-div"></div>

</div>
