
  <nav class="navbar">
    <div class= "logo" >
      <%= link_to root_path do %>
        <%= image_tag "logo.png", alt: "Grand's logo" %>
      <% end %>
    </div>
    <div class="nav-links">
    <ul>
      <li><%= link_to 'My bookings', bookings_path %></li>
      <li><%= link_to 'Explore', activities_path %></li>
      <li><%= link_to 'Profile', profile_path, class: 'profile-link' %></li>
    </ul>
    </div>
  </nav>
