<div  style="background-color: #F7EDEC" class="home-page">

  <div class="banner" style="background-image: url(<%= image_path("background-banner.jpg") %>);">
    <div class="container">
      <h1>Partagez un moment <br>d'émotion</h1>
      <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
      <a class="btn btn-flat" href="activities">Je découvre</a>
    </div>
  </div>

  <div class="container">
    <div class="title2">
      <h2>Recomandées</h2>
    </div>
    <ul class="row">

    <%# Mettre les cards dans le back ?? %>
      <% @activities.sample(4).each do |activity| %>
        <li class="col-md-3">
          <div class="card-activities" data-id="<%= activity.id %>" data-controller="card-activities">
            <%= cl_image_tag activity.photo.key %>
            <div class="card-activities-infos">
              <div>
                <h2><%= activity.name %></h2>
                <p><%= activity.description %></p>
              </div>
              <%= cl_image_tag activity.user.photo.key, class: "card-activities-user avatar-bordered" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="container">
    <div class="top-users">
      <h2 class="top-users__title">Top users</h2>
    </div>

    <ul class="top-users__list">
      <% @users.sample(6).each do |user| %>
        <li class="top-users__item">
          <div class="card-user">
           <%= cl_image_tag user.photo.key, class: "user__image" %>
            <div class="user__infos">
              <div>
                <h2><%= user.name %>, <%= user.age %>ans </h2>
                <p><%= user.moment %> moments ❤️</p>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>




</div>
