<div class="search-banner">
  <div class="container">
    <h1>Que recherchez-vous ?</h1>
    <h3>Trouvez l'activité qui vous ressemble !</h3>

    <div class="form-container">
      <%= form_with do |form| %>
        <div class="search-form">
            <%= form.label :city, class: "form-control" %>
            <%= form.label :activity, class: "form-control" %>
            <%= form.submit "Search", class: "search-button btn" %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div data-controller="toggle">
  <div class="menu-container toggle-menu" >
    <ul>
      <li data-action="click->toggle#showList" data-toggle-target="list" class="active">Liste</li>
      <li data-action="click->toggle#showMap" data-toggle-target="map">Map</li>
    </ul>
  </div>

  <div class="home-page">
    <div data-toggle-target="activities" class="content-section">
      <ul data-toggle-target="test" class="row">
        <% @activities.sample(4).each do |activity| %>
          <li class="col-md-3">
            <div class="card-activities" data-id="<%= activity.id %>" data-controller="card-activities">
              <%= cl_image_tag activity.photo.key %>
              <div class="card-activities-infos">
                <div>
                  <h2><%= activity.name %></h2>
                  <p><%= activity.description %></p>
                </div>
                <%= cl_image_tag activity.user.photo.key, class: "card-activities-user avatar-bordered" %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div data-toggle-target="mapSection" class="content-section hidden" style="width: 100%; height: 600px;">
      <h1>Je suis actif</h1>
    </div>
  </div>
</div>

<div class="button-contener">
  <%= link_to 'New Activity', new_activity_path, class: 'button-create' %>
</div>
