<div class="searchbanner">
  <div class="container">
    <h1>Que recherchez-vous ?</h1>
    <h3>Trouvez l'activité qui vous ressemble !</h3>

    <div class="form-container">
      <%= form_with do |form| %>
        <div class="search-form">
            <%= form.label :city, class: "form-control" %>
            <%= form.label :interest, class: "form-control" %>
            <%= form.label :gender, class: "form-control" %>
            <%= form.submit "Search", class: "search-button btn" %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<% @activities.each do |activity| %>
  <p><%= activity.name %></p>
  <p><%= activity.description %></p>
  <p><%= activity.price %> €</p>
  <%= link_to 'Show', activity %>
<% end %>

<%= link_to 'New Activity', new_activity_path %>
