<div class="search-banner">
  <div class="container">
    <h1>Que recherchez-vous ?</h1>
    <h3>Trouvez l'activité qui vous ressemble !</h3>

    <div class="form-container">
      <%= form_with do |form| %>
        <div class="search-form">
            <%= form.label :city, class: "form-control" %>
            <%= form.label :activity, class: "form-control" %>
            <%= form.submit "Search", class: "search-button btn" %>
        </div>
      <% end %>
    </div>



  </div>
</div>

<div class="menu-container">
  <div class="menu-intrapage">
        <ul>
          <li>Liste</li>
          <li>Map</li>
        </ul>
  </div>
</div>
<div class="home-page" style="margin: 30px">
  <ul class="row">
    <% @activities.sample(12).each do |activity| %>
      <li class="col-md-3">
        <div class="card-activities" data-id="<%= activity.id %>" data-controller="card-activities">
          <%= cl_image_tag activity.photo.key %>
            <div class="card-activities-infos">
              <div>
                <h2><%= activity.name %></h2>
                <p><%= activity.description %></p>
              </div>
              <%= cl_image_tag activity.user.photo.key, class: "card-activities-user avatar-bordered" %>
            </div>
        </div>
       </li>
    <% end %>
  </ul>
</div>
<div class="button-contener" style="margin-top: 100px">
<%= link_to 'New Activity', new_activity_path, class: 'button-create' %>
</div>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
