<div class="profile-container">
  <div class="profile-banner">
    <div class="profile-img">
      <% if @activity.photo.attached? %>
        <%= cl_image_tag @activity.photo.key, height: 600, width: 1500, crop: :fill %>
      <% else %>
        <p>Aucune image disponible pour cette activité.</p>
      <% end %>
    </div>

    <div class="show-avatar-container">
      <% if @activity.user.photo.attached? %>
        <%= cl_image_tag @activity.user.photo.key, class: "avatar-img" %>
      <% else %>
        <p>Aucune image disponible pour cet utilisateur.</p>
      <% end %>
    </div>

    <div class="profile-content-container">
      <div class="button-container">
        <%= link_to 'Edit', edit_activity_path(@activity), class: 'click-edit' %>
        <%= link_to 'Delete', activity_path(@activity), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'click-delete' %>
      </div>
      <h1 class="activity-name-show"><%= @activity.name %></h1>
      <div class = "infos-activity-show" style = "display-flex">
        <p class="activity-description-show "><%= @activity.description %></p>
      </div>
      <div class= "infos-user-show">
        <p><%= @activity.user.name %> </p>
        <p><%= @activity.user.age %>ans </p>
        <p><%= @activity.address %> </p>
      </div>
    </div>
  </div>
</div>

<div class= "booking_button">
  <p><%= @activity.price %>€ /jour</p>
  <%= link_to 'Reserver', new_activity_booking_path(@activity), class: "btn booking-btn" %>
</div>
